@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

@import "tailwindcss";

@theme {
  --color-primary: #2c3892;
  --color-gold: #D4AF37;
  --color-secondary: #f8f9fa;

  --font-sans: "Nunito", "Helvetica", "Arial", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
